@keyframes arrow-animation {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        color: $gray;
        opacity: .7;
        transform: translateX(0);
    }
}