$white: #fff;
$primary: #fafafa;
$purple: #3F00FF;
$pink: #7F0CE8;
$blue: #0D52FF;
$dark-blue: #0C10E8;
$white-smoke: #f5f5f5;
$light-gray: #dddddd;
$gray: #757575;
$dark-gray: #333333;
$black: #111111;