@import './colors';
@import './animations';
@import './hamburger';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background-color: $primary;
}

.fixed-body {
	overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;
}

.shadow {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 11;
	opacity: 0;
	transition: opacity 1s;

	&--active {
		display: block;
		opacity: 1;
	}
}

// NAV
.nav {
	position: relative;
	padding: 1em;
	width: 100%;
	height: 80px;
	background-color: $black;
	z-index: 10;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;

	&__brand {
		width: 60px;
		height: 60px;
		text-decoration: none;
		font-size: 3rem;
		color: $white;
		font-weight: bold;
		letter-spacing: 1.5px;

		&-img {
			width: 60px;
			height: 60px;
		}
	}

	&__mobile {
		position: absolute;
		top: 80px;
		left: 0;
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		background-color: $white;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		transform: scaleX(0%);
		transform-origin: 100% -50%;
		transition: transform .3s, opacity .2s;
		opacity: 0;
		z-index: 1;

		&--active {
			transform: scaleX(100%);
			opacity: 1;
		}
	}

	&__desktop {
		display: none;
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 1em 2em;
		font-size: 1.7rem;
		color: $black;
		text-decoration: none;
		border-top: 1px solid $white-smoke;
		border-bottom: 1px solid $white-smoke;
		transition: background-color 0.3s;

		&:first-of-type {
			border-top: none;
		}

		&:last-of-type {
			border-bottom: none;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	&__icon {
		margin-right: 0.5em;
		width: 30px;
		font-size: 2.5rem;
	}
}

// HEADER
.header {
	padding: 5em 1em;
	height: 90vh;
	background-color: $white;
	
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__text-box {
		width: 100%;
		max-width: 350px;
		text-align: center;
	}

	&__title {
		margin-bottom: .4em;
		font-size: 2.4rem;
		color: $black;
	}

	&__text {
		color: $dark-gray;
		font-size: 1.4rem;
	}

	&__img-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__img {
		width: 80%;
		max-width: 400px;
	}
}

// MAIN
// ABOUT
.about {
	padding: 5em 1em;
	background-color: $primary;
	box-shadow: inset 0 0 15px $white-smoke;

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__text-box {
		display: flex;
		flex-direction: column;
		align-items: start;
		max-width: 600px;
		color: $black;
		font-size: 1.4rem;
	}

	&__subtitle {
		margin: .5em 0;
		font-size: 2rem;
		font-weight: bold;
	}

	&__text {
		line-height: 22px;
	}

	&__img-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__img {
		margin-top: 1em;
		width: 80%;
		max-width: 400px;
	}

	&__btn {
		margin-top: 1em;
		padding: 1em 1.8em;
		text-decoration: none;
		color: $black;
		border: 1px solid $light-gray;
		border-radius: 3px;
		transition: border .3s;

		&:hover {
			border: 1px solid $black;
		}
	}
}

// PORTFOLIO
.portfolio {
	padding: 5em 0;
	background-color: $white-smoke;

	&__text-box {
		display: flex;
		justify-content:  center;
		align-items: center;
	}

	&__title {
		margin: 0 1em;
		position: relative;
		color: $gray;
		font-size: 1.6rem;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
	}

	&__bar {
		display: none;
		height: 1px;
		width: 35%;
		background-color: $light-gray;
	}

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 1em;
	}

	&__item {
		margin: 1em;
		padding: 1em;
		width: 360px;
		height: 270px;
		background-color: $white;
		border-radius: 3px;

		&-img {
			height: 75%;
			width: 100%;
			background-color: $white-smoke;
		}

		&-text-box {
			margin: 1em;
		}

		&-title {
			margin-bottom: 0.3em;
			color: $black;
		}

		&-text {
			color: $gray;
		}
	}
}

// CONTACT
.contact {
	padding: 5em 1em;
	background-color: $primary;
	box-shadow: inset 0 0 15px $white-smoke;

	&__box {
		display: flex;
	}

	&__info-box {
		margin-right: 2em;
		padding: 2em;
		width: 30%;
		background-color: $white-smoke;
		border: 1px solid $gray;
	}

	&__title {
		margin-bottom: 1em;
		color: $black;
		text-transform: uppercase;
	}

	&__details {
		margin-top: 2em;
	}

	&__text {
		margin-bottom: 1em;
		color: $black;
	}

	&__text .fa-solid {
		width: 30px;
		font-size: 2rem;
	}

	&__link {
		margin-top: 1em;
		text-decoration: none;
		color: $black;
	}

	&__form-box {
		width: 70%;
	}

	&__form {
		display: flex;
		flex-direction: column;

		&-item {
			position: relative;
			margin-bottom: 1em;
			width: 100%;
		}

		&-label {
			position: absolute;
			top: 21px;
			left: 15px;
			padding: .2em .5em;
			transform: translate(0, -50%);
			transition: transform .3s, color .3s;
			color: $gray;
			background-color: $primary;
			
			&--active {
				color: $black;
				transform: translate(15px, -33px);
			}
		}
		
		&-input {
			margin-bottom: 1em;
			padding: 1em;
			width: 100%;
			height: 42px;
			border: 1px solid $gray;
			background-color: transparent;

			&:focus {
				outline: none;
			}
		}

		&-text {
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			padding: 1em;
			border: 1px solid $gray;
			background-color: transparent;

			&:focus {
				outline: none;
			}
		}

		&-btn {
			padding: 0.5em 0;
			background-color: $white-smoke;
			border: 1px solid $gray;
			font-size: 1.6rem;
			transition: background-color .3s;
			
			&:hover {
				background-color: $light-gray;
				cursor: pointer;
			}
		}
	}
}

// FOOTER
.footer {
	padding: 1em;
	color: $gray;
	background-color: $black;

	&__box {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;
	}

	&__links {
		margin: 1em 0;
	}

	&__link {
		padding: 1em;
		color: $gray;
		text-decoration: none;
	}
}

.footer a {
	transition: color .3s;

	&:hover {
		color: $white;
	}
}

@import './small';
@import './medium';
@import './large';
@import './xlarge'